    <!DOCTYPE html>

    <html lang="en">
<head>
    <meta charset="UTF-8">

    <title> Gang Gang Chat Official Website</title>


</head>


<body>
    <body style="background-color:Orange;">
<script language="javascript">
 var today = new Date();
 document.write(today);

</script>
    <h1>Gang Gang Chat </h1>
    <h2>Connections That Count.</h2>
    <h2></h2>
    <h3>Stay in touch with the people who matter most</h3>
    <h3>Share important moments now</h3>
    <h3>Relive them later</h3>
<!-- Do not display this image at the moment
<img src="static\1.png" />-->

<img src="static\2.jpg" alt="Happy Kids"/>   



 
<form action="/chat">
<div>
<label>Enter your username: </label><br>
<input type="text"  name="Username">
</div>

<div>
<label>Enter your password: </label><br>
<input type="text"  name="Password">
</div>

<div>
<label>Enter room ID: </label><br>
<input type="text"  name="Room">
</div>
<button type="button" onclick="alert('Welcome back dear user')">Sign in</button>
<button type="button" onclick="alert('Welcome to Gang Gang Chat')">Sign up</button>
<button type="button" onclick="alert('Please check your email')">Forget your password</button>
</form>




<p></p>
</body>
</html>




